body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    cursor: none; /* Hide default cursor */
    background-color: black;
}

#particleCanvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}