body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    cursor: none; /* Hide default cursor */
    background-color: black;
    height: 100%;
    width: 100%;
}

#particleCanvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
